<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloWorldService" class="org.sagesource.test.api.impl.HelloWorldServiceImpl"/>

    <bean id="helloWorldServiceProvider" class="org.sagesource.simplerpc.spring.provider.ServiceProviderFactoryBean"
          destroy-method="close">
        <property name="port" value="9999"/>
        <property name="serviceRef" ref="helloWorldService"/>
        <property name="version" value="1.0.0"/>
    </bean>

</beans>